---
---
<div class="Box_principal">
    <div class="box_hedaer">
		<img class="img_logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0NXYWRIzX3kh_lA2ChcuwOmLKeTLOSRYbiQ&s" alt="imgs_company">
	</div>
	<div class="main_box">
		
		<div class="img_box_img_principal">
			<img class="img_person" src="../../foto_hernan.jpeg" alt="img_person" width="100px" height="150px">
		 </div>
		<div class="conten_referens">
			<div class="box_date">
				<h2><samp>Hernan Martinez </samp></h2>
			    <p> Tecnico en Soporte e Instalaciones</p>
				<samp><b>Comunicaciones Globales</b></samp>
		  <div class="box_referns">
			<div class="referens_person">
                 <div class="circulo_referens_icon">
    				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
				 </div>
				<div>
					<a href="mailto:soportetecnico1@comunicacionesglobales.com?subject=Consulta%20de%20soporte">soportetecnico1@comunicacionesglobales.com</a>
					<p>Email</p>
				</div>
			</div>
			<div class="referens_person">
				<div class="circulo_referens_icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z"></path></svg>

				</div>
				<div>
					<p><samp><a href="https://wa.me/50432233897">+504 3223-3897</a></samp></p>
					<p>Mobile</p>
				</div>
			</div>
			<div class="referens_person">
                <div class="circulo_referens_icon">

					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(255, 255, 255);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path></svg>
				</div>
                  
				<div>
					<p><samp><a href="https://demoglobal.netlify.app/">https://demoglobal.netlify.app/</a></samp></p>
					<p>Web</p>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<style>
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}
  .Box_principal{
	width: 450px;
	border: solid;
	border-radius: 15px;
	background-color:#FFFFFF ;

  }
  .main_box{
	background-color:#FFFFFF ;
	border: solid #FFFFFF;
	border-radius: 15px;
  }
  a{
	text-decoration: none;
	color: #000;
	font-size: 16px;
  }
  h2 ,h3 , p{
	color: #000;
  }
  .box_hedaer{
	 width: 100%;
	 height: 300px ;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	border: solid 1px #fff;
	border-radius:15px 15px 20px 20px;
	background-color: #CDD6DB;


  }
  .img_logo{
	width: 150px;
	height: 150px;
	border-radius: 10px;
  }
  .img_box_img_principal{
	position: relative;
	width: 130px;
   height: 130px;
   bottom:60px;
   left: 25px;
  }
  .img_person{
   
   border-radius: 50%;
   position: absolute;
  }
  .referens_person{
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 10px;

  }
 .circulo_referens_icon{
	background-color: #35393C;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	justify-items:center ;
	align-items: center;
	border-radius: 50%;
 }
 .conten_referens{
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-bottom: 80px;
	
 }  
 .box_date{
  position: relative;
  left: 20px;
 }
 .box_referns{
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 50px;
 }
 @media screen and (max-width: 790px) and (min-width: 375px){
  /* Estilos específicos para dispositivos móviles */
  .Box_principal{
	width: 100%;
	border: solid;
	border-radius: 15px;
	background-color:#FFFFFF ;

  }
  a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
  }
}
</style>
